@media (max-width: 1024px) {
  .prj-list>div {
    width: calc(50% - 20px);
  }
}


@media (max-width: 900px) {

  .header {
    display: block;
  }


  .navbar a {
    font-size: 20px;
    font-weight: 200;
    margin-left: 0px;

  }

  .navbar a::after {
    content: "\a";
    white-space: pre;
  }

  embed {
    display: none;
  }

  .home {
    padding-top: 60px;
  }


}


@media (max-width: 768px) {
  * {
    overflow-x: hidden;
    overflow-y: inherit;
  }



  .home-content a {
    text-align: center;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
    animation-delay: calc(.2s * var(--i));
  }


  .code {
    display: flex;
    height: 100%;
  }

  .code {
    width: 500px;
    height: auto;
    margin-left: 0;
    padding-left: 0;
  }

  .sec {
    display: flex;
    margin: 10px;
    width: auto;
  }


  .header {
    display: block;

  }

  .navbar a {
    font-size: 20px;
    font-weight: 200;
    margin-left: 0px;
    padding: 10px 16px 0 0;
  }

  .navbar a::after {
    content: "\a";
    white-space: pre;
  }

  .home {
    min-height: 70vh;
  }

  .home-content {
    padding-top: 120px;
  }

  .home-content h1 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
  }

  .home-content h3 {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 30px;
    padding-left: 17px;
  }

  .home-content h4 {
    font-size: 20px;
    font-weight: 200;

  }

  .home-content h4 span {
    font-size: 20px;
    font-weight: 200;
  }

  .home-content p {
    padding: 0 20px;
    margin-right: 8px;
  }

  .home-sci {
    display: flex;
    flex-direction: row;
  }

  .home-sci a {
    margin: 60px;

  }

  .home-sci a {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .img {
    max-width: 400px;
    position: relative;
    left: -10%;
    top: 2%;
    padding-bottom: 30px;
    padding-left: 0;
    margin-left: 0;
  }

  .abt-res {
    max-height: 350px;
  }

  .btn-box:hover {
    box-shadow: 0 0 5px rgb(194, 56, 187), 0 0 10px rgb(194, 56, 187), 0 0 15pc rgb(194, 56, 187), 0 0 20px rgb(194, 56, 187), 0 0 25px rgb(194, 56, 187);
  }

  .portfolio {
    padding-bottom: 30px;
  }



  .abtbtn-box:hover {
    box-shadow: 0 0 5px rgb(194, 56, 187), 0 0 10px rgb(194, 56, 187), 0 0 15pc rgb(194, 56, 187), 0 0 20px rgb(194, 56, 187), 0 0 25px rgb(194, 56, 187);
  }

  /* .abtbtn-box2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 12px 28px;
    background: #7357DB;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    width: 60%;
  } */


  .abtbtn-box2 {
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 8px;
  }

  .abtbtn-box2:hover {
    background: rgb(115, 87, 219);
    background: linear-gradient(194deg, rgba(115, 87, 219, 1) 31%, rgba(252, 70, 227, 1) 100%);
    border-radius: 8px;

  }

  .abtbtn-box2:hover:before,
  .abtbtn-box2:hover:after {
    width: 100%;
    height: 100%;
    border: none;
  }





  .abtbtn-box {
    display: flex;
    justify-content: center;
    padding: 12px 28px;
    background: #7357DB;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    width: 60%;
    margin: auto;
    margin-top: 40px;
  }


  .prj-list button {
    margin-bottom: 15px;
  }

  .prj-list button a:hover {
    background: none;
  }

  .prj-list {
    margin-top: 0;
  }

  .prj-list div {
    width: calc(100%);
    padding: 20px;
  }

  .prj-list i {
    overflow-y: hidden;
  }


  .prj-list p {
    margin-top: 40px;
  }


  .subtitle {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    margin-top: 30px;
  }

  .container {
    margin-top: 40px;
  }


  #Competences {
    height: 800px;
  }


  .heading1 {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }


  .bar {
    font-size: 25px;
  }

  .Technical-bars .bar {
    padding: 0;
  }


  .bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  .sub-title {
    font-size: 50px;

  }



  .contacts {
    padding-top: 30px;
  }

  .contact-list {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 40px;
  }



  .contact-icons i {
    margin-left: 72px;
  }

  .contacts h2 {
    font-size: 50px;
  }

  .contact-text h4 {
    font-size: 30px;
  }

  .contact-list i {
    font-size: 15px;
    padding: 5px 5px 0 0;
  }

  .contact-list a {
    padding-right: 10px;
  }




  .top {
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    transition: all .4s;
  }

  .last-text p {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

}


@media (max-width: 400px) {
  * {
    overflow-x: hidden;
  }

  .header {
    display: block;
  }


  .navbar a {
    font-size: 17px;
    font-weight: 200;
    margin-left: 12px;
    padding: 10px 10px 0 0;
  }

  .navbar a::after {
    content: "\a";
    white-space: pre;
  }


  .home {
    width: 100%;
    align-items: normal;

    padding-bottom: 0;
  }

  .home-content p {
    margin-top: 20px;
  }

  .home-content h1 {
    font-size: 40px;
    font-weight: 600;
  }

  .home-content h3 {
    font-size: 20px;
    font-weight: 300;
  }

  .home-content h4 {
    font-size: 24px;
    font-weight: 200;

  }

  .home-content h4 span {

    font-size: 27px;
    font-weight: 200;
  }

  .btn-box:hover {
    box-shadow: 0 0 5px rgb(194, 56, 187), 0 0 10px rgb(194, 56, 187), 0 0 15pc rgb(194, 56, 187), 0 0 20px rgb(194, 56, 187), 0 0 25px rgb(194, 56, 187);
  }

  .img {
    max-width: 300px;
    position: relative;
    left: -10%;
    top: 2%;
    padding-bottom: 30px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .subtitle {
    padding-top: 80px;
  }

  embed {
    display: none;
  }



  .abtbtn-box:hover {
    box-shadow: 0 0 5px rgb(194, 56, 187), 0 0 10px rgb(194, 56, 187), 0 0 15pc rgb(194, 56, 187), 0 0 20px rgb(194, 56, 187), 0 0 25px rgb(194, 56, 187);
  }


  .subtitle {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
  }



  .code {
    width: auto;
    height: auto;
    margin-left: 0;
    padding-left: 0;
  }



  .radial-bar .text {
    margin-left: 20px;
    text-align: center;
    font-size: inherit;
  }

  .text .text-1 {
    margin: auto;
  }

  .text-1 {
    margin-left: 28px;
  }


  .radial-bars .radial-bar {
    margin-bottom: 26px;
  }


  .sub-title {
    font-size: 50px;
    padding-bottom: 50px;
  }




  .contacts h2 {
    font-size: 50px;
  }

  .contact-list i {
    font-size: 18px;
    padding: 5px 5px 0 0;
  }



  .contact-list li {
    margin-bottom: 10px;
    display: block;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: larger;
    padding-top: 20px;
  }



  .top {
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    transition: all .4s;
  }

  .top i {
    color: #000;
  }
}